.navigationContainer {
  min-width: 100%;
  background: linear-gradient(
    63.56deg,
    #6d60ff 48.13%,
    #9855ff 85.95%,
    #a145ff 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 999;
  overflow: hidden;
  transition: all ease-in 200ms;
  color: rgba(255, 255, 255, 0.692);
}
.mobileMenu {
  width: 100%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
  transition: opacity ease-in 300ms;
  overflow-y: scroll;
}
.mobileMenu::-webkit-scrollbar {
  width: 1px;
  background-color: var(--headingColor);
}
.mobileMenu::-webkit-scrollbar-thumb {
  max-height: 8px;
  background-color: var(--primaryColor);
}
.btnContainer {
  width: fit-content;
  box-sizing: border-box;
  align-items: flex-start !important;
}
.menuContainer {
  display: none;
}
.logoContainer {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;

  padding: 1rem;
}
.menus {
  width: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.mobileMenuItems {
  width: 40%;
  display: flex;
  text-align: left;
  box-sizing: border-box;
  padding: 1rem;
  position: relative;
  z-index: 10;
  text-decoration: none;
  color: white;
  scroll-behavior: smooth;
}
.mobileMenuItems:hover {
  width: 100%;
  background-color: var(--primaryColor);
  /* background-color: aqua; */
  transition: all 200ms ease-in-out;
  /* color: black; */
}
.defaultMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 1rem;
}

.defaultMenu:hover::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background: var(--primaryColor);
  bottom: 0;
  width: 100%;
  transition: all ease-in-out 200ms;
}
.defaultMenu.active {
  font-weight: bold;
  color: #000;
}
.nav-container {
  width: 100%;
  background-color: rgb(20, 49, 49);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1rem;
}
ul {
  list-style: none;
}
li {
  cursor: pointer;
}
span {
  cursor: pointer;
}
.logoContainer {
  font-size: 40px;
  color: rgb(16, 233, 233);
}
.menuContainer {
  position: relative;
}
.menulistContainer {
  min-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  /* background-color: aquamarine; */
  padding: 0 1rem;
}
.menuList {
  color: white;
  font-size: 20px;
}
.floatingNavbar {
  width: 100%;
  width: fit-content;
  position: absolute;
  top: 100%;
  transition: all ease-in-out 200ms;
}
.subMenus {
  min-width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: black;
  color: white;
  padding: 1rem;
  border-radius: 20px;
  position: relative;
  transition: width ease-in-out 900ms;
  position: relative;
}
.subMenus span {
  box-sizing: border-box;
  padding: 8px 1rem;

  position: relative;
}
.subMenus span:hover {
  color: aqua;
}

.arrow {
  position: absolute;
  bottom: -8px;
  color: rgb(253, 253, 253);
  transition: all ease-in-out 200ms;
}
.btnContainer {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  outline: none;
  font-weight: bold;
  background-color: none;
  line-height: 120%;
}
.userContainer {
  width: max-content;
  background-color: aqua;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btnContainer span {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (min-width: 750px) {
  .navigationContainer {
    width: 100%;
    height: fit-content !important;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 1rem;
  }

  .menuContainer {
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    place-items: center;
    grid-template-columns: 15% 70% 15%;
    padding: 0 1rem;
    box-sizing: border-box;
    gap: 2em;
  }
  .logoContainer {
    padding: 0;
  }
  .menus {
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    /* padding: 1rem; */
  }
  .menus Link {
    width: max-content;
    text-decoration: none;
  }
  .burgurmenu,
  .mobileMenu {
    display: none !important;
  }
}

@media (min-width: 750px) and (max-width: 1000px) {
  .menuContainer {
    min-width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "logo logo"
      "menu btn";

    align-items: center;
    justify-content: center;
  }
  .logoContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: logo;
  }
  .menus {
    grid-area: menu;
    display: flex;
    align-items: center;
    justify-content: start;
  }
  .btnContainer {
    display: flex;
    align-items: center;
    justify-content: end;
    grid-area: btn;
  }
}
