.navigationContainer {
  min-width: 100%;
  background: rgb(14, 13, 13);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 999;
  overflow: hidden;
  transition: all ease-in 200ms;
  color: rgba(255, 255, 255, 0.692);
}
.mobileMenu {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  transition: opacity ease-in 300ms;
}
.mobileMenu .btnContainer {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  align-items: flex-start !important;
}
.menuContainer {
  display: none;
}
.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
  min-height: 10vh;
  box-sizing: border-box;
}
.menus {
  width: 100%;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.menus li {
  width: 40%;
  display: flex;
  text-align: left;
  box-sizing: border-box;
  padding: 1em;
  position: relative;
  z-index: 10;
}
.menus .phoneMenu:hover {
  width: 100%;
  background-color: var(--primaryColor);
  /* background-color: aqua; */
  transition: all 200ms ease-in-out;
  color: black;
}
.defaultMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.defaultMenu:hover::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  background: var(--primaryColor);
  bottom: 0;
  width: 100%;
  transition: all ease-in-out 200ms;
}

@media only screen and (min-width: 750px) {
  .navigationContainer {
    width: 100%;
    height: fit-content !important;
    flex-direction: row;
    padding: 1rem;
  }

  .menuContainer {
    width: 100%;
    flex-basis: 2/3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
  }
  .menus {
    width: 100%;
    flex-direction: row;
    padding: 1rem;
  }
  .menus li {
    width: fit-content;
  }
  .burgurmenu,
  .mobileMenu {
    display: none !important;
  }
}
