.sections {
  width: 100%;
  color: black;
  background-color: white;
  display: grid;
  place-items: center;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.sectionContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  gap: 40px;
  position: relative;
}
.sectionHeading {
  width: 100%;
  gap: 16px;
  text-align: center;
  display: grid;
  place-items: center;
}

.headingMain {
  max-width: 90%;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: var(--headingColor);
  line-height: 120%;
}
.paragraphMain {
  max-width: 90%;
  font-weight: 400;
  font-size: 16px;
  line-height: 155%;
}

.featuresImage {
  border-radius: 20%;

  object-fit: cover;
}
.sectionFeatures {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;
  scroll-behavior: smooth;
}
.featureSection {
  min-width: 100%;
  width: 300%;
  max-width: 1200px;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  place-items: center;
  position: relative;
}
.sectionFeatures::-webkit-scrollbar {
  height: 2px;
  /* background-color: var(--primaryColor); */
}
.sectionFeatures::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
}
.featureContainer {
  max-width: 100%;
  display: grid;
  place-items: center;
  gap: 32px;
  padding: 1rem;
  box-sizing: border-box;
  color: #211f25;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
}

.featureDescriptions {
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
  gap: 16px;
}

.featuresImage svg {
  width: 100%;
  /* height: 250px; */
}
.featuresImage img {
  width: 100%;

  object-fit: cover;
}
.featureContainer:nth-child(2) {
  background-color: #f7f5ff;
  border-radius: 8px;
}
.featureContainer:nth-child(2) .viewMore {
  color: var(--primaryColor);
}
.featureHeading {
  font-weight: 700;
  /* font-size: 32px; */
  line-height: 120%;
  letter-spacing: -0.01em;
}
.feature_des {
  font-weight: 400;
}
.viewMore {
  font-weight: 500;
}

.moreFeaturesContainer {
  width: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  gap: 16px;
}
.featuresLeft {
  width: 100%;
  text-align: left;
  display: grid;
  place-items: left;
  padding: 1rem;
  box-sizing: border-box;
  gap: 40px;
  position: relative;

  /* background-color: #907be2; */
}
.featuresRight {
  width: 100%;
  text-align: left;
  display: grid;
  place-items: left;
  padding: 1rem;
  box-sizing: border-box;
  gap: 40px;
  position: relative;
}
.featureSvgs {
  width: 90%;
  position: absolute;
  bottom: -20%;
  left: 0;
}
.featureImage {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.featureImage img {
  width: 80%;
}
.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.testimonialContainer {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(400px, 5);
  gap: 2rem;
  overflow: hidden;
  overflow-x: scroll;
  position: relative;
}

.testimonial {
  min-width: 400px;
  height: fit-content;
  padding: 2rem;
  box-sizing: border-box;
  display: grid;
  gap: 1rem;
  background-color: #f7f5ff;
  border-radius: 16px;
}

.userDetails {
  display: flex;
  align-items: center;
  gap: 10px;
}
.profileContainer {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.profileContainer img {
  object-fit: cover;
}
.sliderBtn {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  font-weight: 800;
  font-size: 16px;
  color: var(--primaryColor);
}
.forwards {
  right: 0;
}
.backwards {
  left: 0;
}

.dotsContainer {
  width: 100%;
  max-width: 1200px;
  left: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  bottom: 0;
  padding: 1rem 0;
}
.navDots {
  width: 10px;
  height: 10px;
  background-color: var(--primaryColor);
  border-radius: 50%;
}
.priceingHead {
  width: 100%;
  display: grid;
  place-items: center;
  line-height: 150%;
  gap: 8px;
}
.planName {
  font-weight: 700;
}
.priceingHead p {
  font-size: 12px;
}
.priceFeatures {
  width: 100%;
  display: grid;
  place-items: left;
  /* justify-content: space-between; */
  gap: 1rem;
}
.priceFeatures span {
  width: 100%;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.email {
  display: grid;
  grid-auto-flow: row;
  place-items: center;
  gap: 1rem;
}
.email input {
  width: 100%;
  padding: 16px 20px;
  border-radius: 30px;
  outline: none;
  border: 1px solid gray;
}
.trailform {
  width: 100%;
  max-width: 1200px;
  padding: 0 1rem;
  box-sizing: border-box;
  display: grid;
  place-items: center;
  gap: 1rem;
}
.termsCo {
  width: fit-content;
  text-align: center;
  font-size: 10px;
}
.headingConatiner {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.newsComponent {
  background-color: #dad7f5;
}
.newsSlider {
  overflow: hidden;
  overflow-x: scroll;
}
.newsSection {
  width: 300%;
  max-width: 1200px;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  /* gap: 1rem; */
  overflow: hidden;
  /* overflow-x: scroll; */
}
.newsContainer {
  min-width: 100%;
  display: grid;
  place-items: left;
  gap: 24px;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 8px;
}
.newsImage {
  width: 100%;
  height: 300px;

  border-radius: 8px;
  overflow: hidden;
}
.newsImage img {
  object-fit: cover;
  object-position: center;
}
.newsdes {
  width: 100%;
  display: grid;
  place-items: left;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
}
.newsReadDes {
  width: 100%;
  display: flex;
  gap: 2rem;
}
.newsReadDes span {
  background-color: #dad7f5;
  font-size: 12px;
  font-weight: 700;
  padding: 2px 8px;
  border-radius: 2px;
}
.readbtn {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--primaryColor);
  cursor: pointer;
}
.sectionCurve {
  width: 100%;
  height: 50%;
  background-color: #dad7f5;
  position: absolute;
  top: 0;
}
.sectionCurve2 {
  width: 100%;
  height: 50%;
  background-color: #000000;
  position: absolute;
  bottom: 0;
  z-index: 11;
}
.sponsers {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-shrink: initial;
  gap: 1rem;
}
.sponsers .logos {
  width: 100px;
  /* font-size: 50px; */
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 800;
}
.sponsersSection {
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 50% 50% 50% 50%;
  padding: 100px;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 99;
}
@media (min-width: 700px) {
  .sectionFeatures {
    max-width: 1200px;
    place-items: center;
  }
  .sectionHeading {
    width: 800px;
  }
  .featureSection {
    width: 100%;
    max-width: 1200px;
    height: 600px;
    position: relative;
  }

  .featuresImage svg {
    width: 200px;
    height: 250px;
  }
  .featuresImage img {
    min-width: 200px;
    height: 250px;
    object-fit: cover;
  }
  .email {
    grid-auto-flow: column;
    width: 60%;
    place-items: center;
  }
  .moreFeaturesContainer {
    width: 100%;
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
  }
  .sponsers {
    gap: 3rem;
  }
  .sponsers .logos {
    width: 200px;
  }
  .sponsers .logos:hover {
    scale: 1.2;
    transition: all ease-in-out 200ms;
  }
  .headingConatiner {
    flex-direction: row;
    text-align: left;
  }
  .newsContainer:nth-child(2) {
    background-color: white;
  }
}
