.App {
  text-align: center;
  display: grid;
  place-items: center;
  gap: 2rem;
}

.Pagebutton {
  width: 180px;
  height: 60px;
  padding: 16px 28px;
  box-sizing: border-box;
  border-radius: 32px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* border: 1px solid white; */
  color: white;
  cursor: pointer;
}
