@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap");
:root {
  --primaryColor: #ff007a;
  --headingColor: #211f25;
  --textColor: #3d3a41;
}
html,
body {
  height: 100%;

  padding: 0%;
  margin: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  /* position: relative; */
}

li {
  max-width: 100%;
  list-style: none;
}
h1,
h2,
h3,
h4,
p {
  padding: 0%;
  margin: 0;
}
.App {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #211f25;
}
.Pagebutton {
  width: 200px;
  height: 50px;
  padding: 16px 28px;
  box-sizing: border-box;
  border-radius: 32px;
  outline: none;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  /* border: 1px solid white; */
  color: white;
  cursor: pointer;
}
.footerSection {
  max-width: 100%;
  padding: 100px 0;
  background-color: black;
  color: white;
}
.footerContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: left;
  /* place-items: left;
  justify-content: space-between; */
  gap: 80px !important;
}
.FooterlogoContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: antiquewhite; */
}
.subscribeForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form {
  display: flex;
  gap: 1rem;
}
.subscribeForm input {
  width: 500px;
  border-radius: 20px;
  padding: 0 1rem;
  outline: none;
  border: 1px solid var(--primaryColor);
}
.footMenuContainer {
  width: 100%;
  display: grid;
  place-items: left;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.footerItem {
  color: rgba(184, 184, 184, 0.89);
  font-weight: 600;
}
.footerItem:hover {
  color: white;
}
