@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

:root {
  --primaryColor: #ff007a;
  --headingColor: #211f25;
  --textColor: #3d3a41;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: linear-gradient(
    63.56deg,
    #6d60ff 48.13%,
    #9855ff 85.95%,
    #a145ff 100%
  );
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

li {
  list-style: none;
}
